body {
  font-family: arial;
  font-size: 10px;
}

.note {
  width: 30px;
  height: 45px;
  border: 2px #4f6ab4 solid;
  line-height: 0;
  margin: 1px;
  display: inline-block;
  border-radius: 7px;
}

.note span.finger {
  width: 11px;
  height: 11px;
  border: 1px #4f6ab4 solid;
  margin: 1px;
  padding: 0;
  display: inline-block;
  border-radius: 6px;
}

.note span.noteName {
  width: 30px;
  height: 15px;
  text-align: center;
  padding: 1px;
  display: inline-block;
  font-size: 10px;
  line-height: 1em;
}

.note span.true {
  background-color: #8ddaf8;
}

